/* src/components/Signup.css */
.signup-container {
  background-color: #edcbf6;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-form {
  background: white;
  padding: 40px;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.signup-form h2 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
}

.signup-form p {
  font-size: 14px;
  margin-bottom: 20px;
}

.login-link {
  color: #333;
  text-decoration: underline;
  cursor: pointer;
}

.signup-form input,
.signup-form select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.signup-form button {
  background-color: black;
  color: white;
  padding: 12px;
  width: 100%;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  text-transform: lowercase;
  font-size: 14px;
  border-radius: 4px;
}

.signup-form .error {
  color: red;
  margin-top: 10px;
}